/* =========================================*/
/*                                          */
/*              Guillermo Diañez            */
/*                                          */
/*                                          */  
/*   =======================================*/
@font-face {
    font-family:titulo ;
    src: url(../font/neuropolitical\ rg.otf);
}
@font-face {
    font-family: texto;
    src: url(../font/ubuntu-font-family-0.80/UbuntuMono-R.ttf);
}
#wrapper{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(226, 226, 226);
    display:inline-block;   
   }
body{
background-image:url(../IMG/matrix.gif);
  margin:auto;
  padding:5px;
}
.hero-image {
    background-image:url(../IMG/fondo.jpg);
    background-color:greenyellow;
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    color: black;
    padding: 20%;
    margin-bottom: 2%;
    }


    .hero-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        width: 100%;
    }
.hero-text p {
    font-family: texto;
}
h1{
font-family: titulo;
}
/*****************responsive*************/
@media screen and (width<650px) {
    #wrapper{width: 100%;}
    
}
.gallery{
    border: 1px solid; color: gray;
    margin: 5px;
    width: auto;;
    float:left;
    border-radius: 10%;
}

.gallery img{
    width: 100%;
    border: black;
    border-radius: 10%;
    display: block;
}
.gallery:hover {
    border: 1px solid;color: black ;
    cursor: pointer;
}
.desc{
    text-align: center;
    font-weight: bold;
    font-family:texto;
    width:95%
}

.hero-text button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 10px 25px;
        color: black;
        background-color: #ddd;
        text-align: center;
      }
.hero-text button:hover {
background-color: gray;
cursor: pointer;
}
 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}
li{
    float: left;
}
li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: titulo;
  }
li a.active{
    background-color:greenyellow;
    color: white;
}
li a:hover:not(.active) {
    background-color: #ddd;
}
#gallery{
    margin: auto;
}
section.gallery{
    margin-left: 10%;
    margin-right: 10%;
}
